body  {
    background-color: black;
}
h1 {
    color: lightgrey;
}
.box1 {
    background-color: red;
    height: 200px;
    width: 200px;
}
.box2 {
    background-color: blue;
    height: 200px;
    width: 200px;
}