#czerwien {
    color: red;
}
#pierwsza_lista {
    background-color: blue;
}
#tekst_z {
    color: green;
}
.container {
    font-style: italic;
}
#druga_lista {
    background-color: yellow;
}