body {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    padding: 20px;
}
.logo {
    font-size: 25px;
    font-weight: bold;
}
.nav {
    display: flex;
}
.nav-list{
    display: flex;
    margin: 0;
    padding: 0;
}
.nav-list li{
    list-style: none;
    margin-right: 20px;
}
.nav-list a{
    color: blue;
    font-size: 20px;
}